@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <div class="text-center">
        <img src="~/images/block1.jpeg" class="img-fluid" width="150" />
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Esta cuenta ha sido bloqueada, inténtalo de nuevo más tarde.</p>
    </div>
</header>
